.header_menu {
    flex: 1;
    ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0px;
        li {
            margin: 0px 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 13px;
            padding-bottom: 10px;
            color: #e5e5e5;
            &.active{
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}