.swiper_slide{
    img{
        width: 100%;
        max-height: 12vw;
    }
    .movieInformations{
        color: #fff;
        background-color: black;
        width: 100%;
        display: none;
        transition: visibility 0s, opacity 200ms linear;
        .icons{
            display: flex;
            svg{
                font-size: 2vw;
                cursor: pointer;
            }
            .play, .wish{
                margin-left: 2%;
            }
            .arrow{
                margin-left: auto;
                margin-right: 2%;
            }
        }
        h4,h5{
            margin: 2% auto 2% 6%;
        }
    }
}

.swiper_slide:hover {
    transform: scale(1.2);
    transition: all 200ms ease-in-out;
    transition-delay: 200ms;
    z-index: 100;
    overflow: visible;
    img {
        transition-delay: 200ms;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    }
    .movieInformations{
        transition-delay: 200ms;
        display: block;
    }
}