.header_toolbar{
    
        a{
            background-color: #e50914;
            line-height:normal;
            padding: 7px 17px;
            font-weight: 400;
            font-size: 1em;
            color: white;
            border-radius: 3px;
        }
    
}